
<article>

    <div class="title">
        <h1>Preserve Events.</h1>
        <h2>Don’t Save Data.</h2>
    </div>

    <p>
        All social networks currently force you to do page loads as you attempt 
        to move back and forth from the high-level bird’s-eye view of your story 
        then in close to the details. It’s slow and awkward, and you quickly lose 
        the context of where this particular detail fits in with the bigger picture.
    </p>

    <div class="title">
        <h3>Start Navigating.</h3>
        <h4>Stop Searching.</h4>
    </div>
    
    <p>
        By creating a 3D space for your data, we enable you to move seamlessly 
        between the big picture and the details. Without leaving the page. 
        This way you can begin to grasp visually how the small influences the large and vice-versa.
    </p>
    <p>
        Another problem is the endless transport of your data from machine to cloud. 
        Your event disappears, because one person posts on one cloud, another posts on a different one.
    </p>
    <p>
        Where is the event? Gone. Why bother when you can broadcast it live from whatever 
        event you are attending and documenting, and have it all re-gather in a digital 
        version of the same spot. About a second later. 
    </p>

    <div class="title">
        <h3>Start Broadcasting.</h3>
        <h4>Stop Uploading.</h4>
    </div>
    <p>
        We’ve time-synchronized your broadcast with everyone else at the event. 
        You don’t have to look at the album caption to know where the event happened. 
        The photos are stashed where they belong, at the venue. 
        You and your friends preserve not just the pictures, but the event.
    </p>
    <p>
        Of course we are interested in building long-term histories, 
        including those of our own lives. But the goal is to end the requirement to always upload, 
        so that in the future, everyone will have the choice of broadcasting directly or uploading later.
    </p>

</article>

<aside>


</aside>